.info {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  overflow-wrap: break-word;
  letter-spacing: -0.03em;
  color: #EC5540;
}

.wrapper__info {
  padding: 0 10px 0 10px;
}

.info__description {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  line-height: 23px;
  letter-spacing: -0.06em;
  color: #EC5540;
}

.mobile {
  margin: 0;
  margin-bottom: 20px;
}

.info__title {
  margin: 0;
}

@media (max-width: 767px) {
  .info__title {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .desktop,
  .desktop-title {
    display: none;
  }
}

@media (min-width: 768px) {
  .wrapper__info {
    padding: 0 20px 0 20px;
  }

  .info__title {
    margin-top: 150px;
    margin-bottom: 80px;
    max-width: 960px;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }

  .info__description {
    max-width: 640px;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: -0.06em;
    overflow-wrap: break-word;
  }

  .mobile,
  .mobile-title {
    display: none;
  }

  .desktop {
    margin-left: auto;
  }

  .desktop:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (min-width: 1320px) {
  .wrapper__info {
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
